*{
	margin: 0;
	padding: 0;

}
.navbar{
    background: #100b09;
}
.navbar-nav li{
    padding:0 10px ;
}
.navbar-nav li a{
    color: white !important;
    font-weight: 600;
    font-size: 20px;
}
.banner{
    width: 100%;
    height: 650px;

}
.banner h1{
    font-size: 80px; 
    font-family: prague;
    color: white;
}
@media (max-width: 600px){
    .banner h1{
        font-size: 70px;

    }
    .banner{
        width: 100%;
         height: 500px;
    }
}
.a{
    margin-bottom: 30px;
    margin-top: 30px;
}
.footer{
    background:#020306f0; 
}
.footer img{
    position: relative;
    top: 90px;
    padding-bottom: 80px;
}

@media(max-width: 600px){
    .footer img{

    padding-bottom: 80px;
    position: relative;
    top: 90px;
    width:75%;
    height:300px;
    margin-left: 50px;
}

}
.footer1{
    background: black;
    width: 100%;
    height: 80px;"
}
#brand-logo{
       padding: 5px;
}
#w-100{
    width: 100%;
}
#d-block{
    display: block;
}
#img{
    vertical-align: middle;
    border-style: none;
}