*{
	margin: 0;
	padding: 0;
}
.navbar{
    background: #100b09;
}
.navbar-nav li{
    padding:0 10px ;
}
.navbar-nav li a{
    color: white !important;
    font-weight: 600;
    font-size: 20px;
}
.banner1{
	width: 100%;
    height: 650px;
    background-size: cover;
    margin-top: 50px;
}
.main{
	margin-bottom: 100px;
	margin-top: 100px;
}
.ban1{
	width: 250px;
	height: 350px;
	margin-bottom: 20px;
	
}
.ban2{
    width: 250px;
	height: 350px;
	
}
.ban3{
	width: 250px;
	height: 350px;
	
}
.a{
   margin: 50px 0 100px 0;
}
.on{
	margin-bottom: 50px;
	margin-top: 50px;
}
.online{
	width:350px ;
	height: 500px;
	position: relative;
	left: 90px;
}
.over{
	width: 100%;
    height: 500px;
    margin-top: 20px;
    margin-bottom: 40px;
    overflow: hidden;
    overflow: scroll;
    overflow: auto;
}
.on1{
	position: relative;
	right: 50px;
}
@media(max-width:700px){
	.banner1{
	width: 100%;
    height: auto;
    background-size: cover;
    margin-top: 50px;
}
.main{
	margin-bottom: 100px;
	margin-top: 100px;
	text-align: center;
}
.ban1{
	width: 250px;
	height: 350px;
	position: relative;
	left: 50px;
	margin-bottom: 20px;
	
}
.ban2{
    width: 250px;
	height: 350px;
	
}
.ban3{
	width: 250px;
	height: 350px;
	
}
.a{
   margin: 50px 0 100px 0;
}
.on{
	margin-bottom: 50px;
	margin-top: 50px;
}
.online{
	width:350px ;
	height: 500px;
	position: relative;
	left: 90px;
}
.over{
	width: 100%;
    height: 500px;
    margin-top: 20px;
    margin-bottom: 40px;
    overflow: hidden;
    overflow: scroll;
    overflow: auto;
}
.on1{
	position: relative;
	right: 50px;
}
}
.footer{
    background:#020306f0;
    padding-bottom: 20px; 
}
.footer img{
    position: relative;
    top: 90px;
    padding-bottom: 80px;
    }
.footer1{
    background: black;
    width: 100%;
    height: 80px;
}